@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model SportsStore.Models.ViewModels.ProductsListViewModel


@{
    ViewBag.Title = "Product List";
}

<h2>Products</h2>

<table class="table">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Category</td>
                <td>@product.Price.ToString("C")</td>
                <td>@product.Stock</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = product.ProductID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = product.ProductID })
                </td>
            </tr>
        }
    </tbody>
</table>

@if (ViewBag.PagingInfo != null)
{
    <div>
        @for (int i = 1; i <= ViewBag.PagingInfo.TotalPages; i++)
        {
            <a href="@Url.Action("List", new { category = ViewBag.CurrentCategory, productPage = i })">@i</a>
        }
    </div>
}

<p>
    @Html.ActionLink("Create New Product", "Create", null, new { @class = "btn btn-primary" })
</p>
